<form class="form-horizontal well-lg" [formGroup]="signInForm" (ngSubmit)="signIn()">
  <div class="page-header">
    <h5>欢迎登录使用UGENE</h5>
  </div>
  <div class="well">
    <div class="form-group">
      <label for="username" class="col-lg-3 control-label">用户名:</label>
      <div class="col-lg-9">
        <input class="input" type="text" name="username" id="username" [formControl]="username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-3 control-label">密 码:</label>
      <div class="col-lg-9">
        <input class="input" type="password" name="password" id="password" [formControl]="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-9 col-lg-offset-3">
        <button class="btn btn-warning" type="reset">重 置</button>
        <button class="btn btn-default" type="submit">登 录</button>
      </div>
    </div>
  </div>
</form>